.navbar-brand { color: #c089ed  /*Couleur personnalisée pour "Accueil"*/; }

/* Style pour afficher les livres comme disponibles */
.disponible {
    color: green; /* Texte vert */
    font-weight: bold; /* Gras */
}

/* Style pour les messages d'indication (non-connecté) */
.indication {
    color:#ff0000; /* Texte rouge */
    font-style: italic; /* Italique */
}

/* Style pour les icônes de contrôle du carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon 
{
    filter: invert(1); /* Inverser les couleurs pour meilleure visibilité */
}
					